@use "../vars/vars" as *;


.faqs{
	margin-top: $header-height;
	min-height: 100vh;
	&__title{
		font-size: 3rem;
		text-align: center;
	}
	&__grid{
		display: grid;
		grid-template-columns: 1fr;
		min-width: 350px;
		max-width: 750px;
		padding: 0 2rem;
		margin: auto;
		margin-top: 2rem;
		&-item{
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin-bottom: 1.5rem;
		}
		&-question{
			font:{
				size: 1.2rem;
				weight: 700;
			}
		}
		&-answer{
			font-size: 1.1rem;
			letter-spacing: 1px;
		}
	}
}